#legend-server{
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", system-ui, sans-serif;
    font-weight: 300;

    #business-card{
        text-align:center;
        margin-top:5%;

        #headshot{
            width:10em;
            height:10em;
        }

        #name{
            font-size:2.5em;
        }

        #title{
            font-size:1.2em;
        }

        #social-bar{
            height:3em;
            line-height:3em;
            margin-top:1.25%;

            #handle{
                font-size:1.5em;
            }

            .social-button{
                margin: 0.75em 0.25em;
            }

            .hr{
                width: 7.5em;
                background-color:black;
                height:2px;
                margin-left:auto;
                margin-right:auto;
            }
        }

        .circle-image{
            border: 2px solid black;
            border-radius:50%;
            width:2em;
            height:2em;
            vertical-align:middle;
            margin-bottom:0.5em;
        }

        a{
            text-decoration:none;
        }
    }

    #other-projects{
        width: 100%;
        font-size: 1.25em;
        margin-top: 4em;
        text-align: center;
        line-height: 1.5em;
    }

    .bullet{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
